
/* Reset CSS */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

h1, h2, h3, h4, p, li {
  font-family: sans-serif;
}

h1 {
  /* color: blue; */
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size : 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}


li {
  font-size: 20px;
}


/* penulisan css spesific & replace global  */

footer p { /* maksudnya p adalah turuninan dari footer, untuk replace dari p global */
  font-size: 16px;
}



/* untuk disable/enable command tekan "CTRL + /"  */

/* maksudnya p adalah turuninan dari header, untuk replace dari p global */
/*
header p {  
  font-style: italic;
} 
*/

/* maksudnya p adalah turuninan dari article dan header, untuk replace dari p global */
/* 
article header p {  
  font-style: italic;
}  */


/* --------------- PENGUNAAN ID HANYA BISA 1X UNTUK 1 VARIANT SELECTOR, UNTUK BERKALI2 HARUS MENGGUNAKAN CLASS--------------- */

#author {
  /* untuk selector yg memiliki id author */
  /* <p id="author"> */
  font-style: italic;
  font-size: 18px;

}

#author {
  /* untuk selector yg memiliki id copyright */
  /* <p id-"copyright"> */
  font-size: 16px;

}

/* --------------- / PENGUNAAN ID HANYA BISA 1X UNTUK 1 VARIANT SELECTOR, UNTUK BERKALI2 HARUS MENGGUNAKAN CLASS--------------- */

/* --------------- CLASS --------------- */

.related-author {

/* PENGUNAAN BISA BERKALI KALI */
/* 
<p class="related-author">By Jonas Schmedtmann</p>
<p class="related-author">By Jim Dillon</p>
<p class="related-author">By Matilda</p> 
*/

  font-size: 18px;
  font-weight: bold;
}

/* --------------- / CLASS--------------- */



/* --------------- SELECTOR VS CLASS VS ID --------------- */

/* UNTUK REMOVE POINT DOT "o" -> SELURUH SELECTOR */
/* ul {
  list-style: none;
} */

/* OR */

/* UNTUK REMOVE POINT DOT "o" -> BERKALI2 */
.related {
  list-style: none;
}


/* UNTUK REMOVE POINT DOT "o" -> SEKALI */
/* #related {
  list-style: none;
} */

/* --------------- SELECTOR VS CLASS VS ID --------------- */

/* NOTE : disarankan sebaik selalu menggunakan class walau hanya sekali, 
karena untuk menggunakan/perubahan ID akan error jika ingin digunakan kembali */